<div class="sidebar">
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
        <div class="profile-container">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <div class="profile-text">
                <h2 class="profile-name">هشام عبيد</h2>
                <p class="profile-title">مأمور ضبط قضائي</p>
            </div>
        </div>
        
        <ul class="custom-list">
            
            <li class="settings hidden md-block">
                <div class="settings-container">
                    <div class="settings-text">الرئيسة</div>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/dashboard/user">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text"> نماذج الإجازات</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/dashboard/test">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text"> نماذج الاذونات</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/dashboard/problem-quiz">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text">نماذج التعريفات و التصاريح</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/dashboard/rapport">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text">نماذج اخرى </span>
                </a>
            </li>
            <li class="settings hidden md-block">
                <div class="settings-container">
                    <div class="settings-text">المهام</div>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/dashboard/profile">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text">إعداد التقارير اليومية
                    </span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text"> إعداد الخطط
                    </span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text"> الهيكل التنظيمي
                    </span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <span class="icon-container">
                        <!-- SVG Icon -->
                    </span>
                    <span class="nav-text"> إعداد الجهات

                    </span>
                </a>
            </li>

        </ul>
        <!--<div class="footer-text">
        <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />

        </div>
        <p class="footer-text">Copyright 2021</p>-->
       
        <div class="footer">
            <img src="assets/logo.png" class="logo-img" alt="logo" />
        </div>

        
    </div>
</div>